A:visited {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:link {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
H1 {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: none; COLOR: #efefef; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#cover {
	FILTER: alpha(opacity=65); LEFT: 0px; VISIBILITY: hidden; WIDTH: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 0px; BACKGROUND-COLOR: white; opacity: 0.6; moz-opacity: 0.6
}
#info {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2f1fc
}
#choose_cat {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2f1fc
}
#new_cat {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e2f1fc
}
#info {
	BORDER-RIGHT: black 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: black 1px solid; PADDING-LEFT: 10px; Z-INDEX: 98; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 10px; BORDER-LEFT: black 1px solid; LINE-HEIGHT: 1; PADDING-TOP: 10px; BORDER-BOTTOM: black 2px solid; POSITION: absolute; TOP: 0px; max-width: 800px
}
#choose_cat {
	BORDER-RIGHT: black 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: black 1px solid; PADDING-LEFT: 10px; Z-INDEX: 98; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 10px; BORDER-LEFT: black 1px solid; LINE-HEIGHT: 1; PADDING-TOP: 10px; BORDER-BOTTOM: black 2px solid; POSITION: absolute; TOP: 0px; max-width: 800px
}
#new_cat {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; MARGIN-LEFT: 25px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; HEIGHT: 23px
}
UNKNOWN {
	MARGIN-LEFT: 0px; HEIGHT: 21px
}
#info IMG {
	VERTICAL-ALIGN: middle
}
#choose_cat {
	LEFT: 200px; WIDTH: 220px; POSITION: absolute; TOP: 200px
}
UNKNOWN {
	WIDTH: 200px
}
#choose_cat H1 {
	COLOR: black
}
.selectbox {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; OVERFLOW: auto; BORDER-LEFT: #b6cada 1px solid; HEIGHT: auto
}
.selectbox UL {
	LIST-STYLE-TYPE: none
}
.selectbox LI {
	BACKGROUND-POSITION: 0px 3px; BACKGROUND-IMAGE: url(http://img2.pichunter.com/gfx/fol.gif); MARGIN-BOTTOM: 2px; CURSOR: hand; TEXT-INDENT: 25px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #b6cada 1px dotted; BACKGROUND-REPEAT: no-repeat
}
.hh1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #efefef; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.men A {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 10px; BORDER-LEFT: black 1px solid; LINE-HEIGHT: 23px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.men A:hover {
	TEXT-DECORATION: underline
}
.menutable {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.sbox {
	BORDER-RIGHT: #990000 1px solid; BORDER-TOP: #990000 1px solid; BORDER-LEFT: #990000 1px solid; COLOR: #999999; BORDER-BOTTOM: #990000 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.sform {
	CLEAR: left; MARGIN: 0px; VERTICAL-ALIGN: middle
}
.ph {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.menutable2 {
	BACKGROUND: url(http://img2.pichunter.com/gfx/gr_bg.gif) #faf9f7
}
.redtitle H1 {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://img2.pichunter.com/gfx/red.gif); MARGIN-BOTTOM: 0px; MARGIN-LEFT: 15px; WIDTH: 186px; PADDING-TOP: 5px; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 27px; TEXT-ALIGN: center
}
UNKNOWN {
	WIDTH: 158px; HEIGHT: 22px
}
.title2 {
	DISPLAY: inline; MARGIN: 0px 0px 0.2em; FONT: 21px/1.4 arial, helvetica, sans-serif; COLOR: #4e463f; LETTER-SPACING: -1px
}
.title2_old {
	PADDING-LEFT: 0.2em; FONT: 19px tahoma, sans-serif; COLOR: #758593; LETTER-SPACING: -0.02em; TEXT-DECORATION: underline
}
UL {
	LIST-STYLE: none url(none) outside; PADDING-LEFT: 10px; FONT-SIZE: 12px; MARGIN-LEFT: 0px; TEXT-INDENT: 0em; LINE-HEIGHT: 2em; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.let {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #003366; TEXT-INDENT: 0em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.tiny {
	FONT-SIZE: 11px; COLOR: #000033; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tcell {
	BORDER-RIGHT: #0099cc 1px solid; BORDER-BOTTOM: #0099cc 1px solid; BACKGROUND-COLOR: #ffffff
}
.rlink {
	PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pages {
	CLEAR: both; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 12px; PADDING-BOTTOM: 1em; MARGIN: 1em 0px; PADDING-TOP: 1em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pages SPAN {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.2em; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.2em
}
.pages A {
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #ffffff; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #9aafe5 1px solid; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
.pages SPAN.current {
	BORDER-RIGHT: #2e6ab1 1px solid; BORDER-TOP: #2e6ab1 1px solid; FONT-WEIGHT: bold; BACKGROUND: #2e6ab1; BORDER-LEFT: #2e6ab1 1px solid; COLOR: #fff; BORDER-BOTTOM: #2e6ab1 1px solid
}
.pages A:hover {
	BORDER-LEFT-COLOR: #2e6ab1; BORDER-BOTTOM-COLOR: #2e6ab1; BORDER-TOP-COLOR: #2e6ab1; BORDER-RIGHT-COLOR: #2e6ab1
}
.pages A.nextprev {
	FONT-WEIGHT: bold
}
.pages SPAN.nextprev {
	COLOR: #666
}
.pages SPAN.nextprev {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; COLOR: #999; BORDER-BOTTOM: #ddd 1px solid
}
.tag {
	FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://img2.pichunter.com/gfx/tag1.gif); WIDTH: 133px; COLOR: #000033; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px
}
.tag_e {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://img2.pichunter.com/gfx/tag2.gif); WIDTH: 133px; COLOR: #000033; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px
}
.tag_eu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://img2.pichunter.com/gfx/tag1u.gif); WIDTH: 133px; COLOR: #000033; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 26px
}
.tabl1 {
	HEIGHT: 26px
}
.thumbnails TD {
	BORDER-RIGHT: #758593 1px solid; BORDER-TOP: #758593 1px solid; FONT-SIZE: 10px; BACKGROUND: #ddddee; BORDER-LEFT: #758593 1px solid; COLOR: #000033; BORDER-BOTTOM: #758593 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 140px; TEXT-ALIGN: center
}
.thumbnails TD P {
	MARGIN-TOP: 0px; DISPLAY: block; PADDING-TOP: 10px
}
UNKNOWN {
	PADDING-TOP: 15px
}
.thumbnails IMG {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
#ToolTip {
	BORDER-RIGHT: #800000 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #800000 1px dotted; PADDING-LEFT: 5px; FONT-SIZE: 11px; Z-INDEX: 100; BACKGROUND: #ffffd7; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 5px; BORDER-LEFT: #800000 1px dotted; COLOR: black; PADDING-TOP: 5px; BORDER-BOTTOM: #800000 1px dotted; FONT-FAMILY: verdana; POSITION: absolute; TOP: 0px
}
.totext {
	DISPLAY: inline; FLOAT: right
}
#Report {
	BORDER-RIGHT: #400000 1px solid; BORDER-TOP: #800000 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffd7; LEFT: 0px; VISIBILITY: hidden; BORDER-LEFT: #800000 1px solid; WIDTH: 120px; BORDER-BOTTOM: #400000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 0px; HEIGHT: 160px
}
#Report .head {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; COLOR: white; PADDING-TOP: 3px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; LETTER-SPACING: 0px; BACKGROUND-COLOR: #cd0d0d; TEXT-ALIGN: right
}
#Report A {
	PADDING-RIGHT: 2px; MARGIN-TOP: 2px; DISPLAY: block; PADDING-LEFT: 2px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#Report A:hover {
	COLOR: white; BACKGROUND-COLOR: #cd0d0d
}
#LogIn {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#LogIn P {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#LogIn INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#LogIn {
	BORDER-RIGHT: #878d92 1px solid; BORDER-TOP: #e2f1fc 1px solid; Z-INDEX: 99; RIGHT: 200px; BACKGROUND: #e2f1fc; VISIBILITY: hidden; BORDER-LEFT: #878d92 1px solid; WIDTH: 219px; BORDER-BOTTOM: #878d92 1px solid; POSITION: absolute; TOP: 59px
}
#LogIn P INPUT {
	FONT-SIZE: 12px
}
#LogIn P {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
#LogIn .down {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #0033bb; PADDING-TOP: 5px; BACKGROUND-COLOR: #b6cada; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
#LogIn box {
	FONT-SIZE: 2em; FONT-FAMILY: Arial,Helvetica,sans-serif
}
#msgb_tx {
	LEFT: 14px; VISIBILITY: hidden; WIDTH: 785px; POSITION: absolute; TOP: 75px; HEIGHT: 40px; opacity: .9
}
#msgb_bg {
	LEFT: 14px; VISIBILITY: hidden; WIDTH: 785px; POSITION: absolute; TOP: 75px; HEIGHT: 40px; opacity: .9
}
#msgb_tx {
	FONT-SIZE: 29px; Z-INDEX: 99; VERTICAL-ALIGN: middle; OVERFLOW: hidden; COLOR: #ffffff; PADDING-TOP: 5px; FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
#msgb_tx A {
	COLOR: white
}
#msgb_bg {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; Z-INDEX: 98; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #5ea9cd
}
